<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIBackgroundModes</key>
    <array/>
    
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.792445687239-ruhh9l6b7rnn8252a3am5d1ohlri03j9</string>
            </array>
        </dict>
    </array>

    <key>GIDClientID</key>
    <string>792445687239-ruhh9l6b7rnn8252a3am5d1ohlri03j9.apps.googleusercontent.com</string>
</dict>
</plist>
